<html>
    <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
        <button onclick=publishMsg()>publish "hello"</button>
    </body>

    <script>
      let client;
      let host = "127.0.0.1";
      let port = 8000;

      function onConnect() {
        console.log("Connected");
        mqtt.subscribe("home");
        publishMsg();
      }

      function onMessageArrived(message) {
        let msg = message.payloadString;
        let topic = message.destinationName;
        
        let text = document.createElement("P");
        text.innerHTML = "New message: " + msg + "\n";
        document.body.appendChild(text);
      }
      
      function mqttConnect() {
        mqtt = new Paho.MQTT.Client(host, port, "client"+new Date().getTime());
        mqtt.onMessageArrived = onMessageArrived;

        let text = document.createElement("P");
        text.innerHTML = "Connecting to " + host + ":" + port + "\n";
        document.body.appendChild(text);

        var options = {
          timeout: 5,
          onSuccess: onConnect,
        };
        mqtt.connect(options);
      }

      function newMsg(message, topic) {
        let msg = new Paho.MQTT.Message(message);
        msg.destinationName = topic;
        return msg;
      }

      function publishMsg() {
        mqtt.send(newMsg("hello", "home"));
      }

      mqttConnect();
    </script>
</html>